
body {
  display: grid;
  min-height: 100vh;
  margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "head" "nav article aside" "footer";
}

main > nav, 
main > aside {
    background: #000;
    height: 850px;
}

nav>ul{
    margin-left: 0px;
    padding-left: 0px;
}
nav>ul>li{
    margin-left: 0px;
    padding-left: 0px;
}
nav>ul>li>a{
    height: max-content;
    width: max-content;
    color: #2b9c14;
    padding-left: 5px;
    margin-left: 5px;
    text-decoration: none;
}
nav>ul>li{
    padding-bottom: 25px;
}
nav>ul>li>a{
    width: 100%;
    list-style: none;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 25px;
    text-align: left;
}
nav>ul>li>a:hover{
    list-style: none;
    background-color: #283621;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 25px;
    text-align: left;
    color: aquamarine;
}

header {
    background: #000;
    text-align: center;
}

article {
  background: #99ff99;
  /*height: 650px;*/
}

main>article>p{
    text-align: center;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 50px;
    padding-top: 300px;
    padding-bottom: 300px;
    color: #2b9c14;
}

main>aside>h2{
    color: #0c91c9;
    text-align: center;
}

main>aside>table{
    color:white;
}

main>aside>table,th,tr{
    border: 1px solid;
    border-color: #0c91c9;
    
}

main>aside>div{
    margin-top: 20px;
}


.ide{
    background-color: #2a2d2e;
    width: 300px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: scroll;
}

.code{
    color:white;
    font-size: 20px;
    /*white-space: nowrap;*/
    text-overflow: "";
    font-family:'Courier New', monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}


footer {
  background: #131413;
  text-align: center;
  color: #99ff99;
}

header, footer, article, nav, aside {
  padding: 1em;
}

header>a{
    text-decoration: none;
    font-family: '8BIT WONDER', sans-serif;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: #2b9c14;
}
header>a>p{
    font-family: '8BIT WONDER', sans-serif;
    font-size: 40px;

}

